@model UserViewModel
@{

    ViewBag.Breadcromb = " اطلاعات آدرس پستی";
    ViewBag.Title = " اطلاعات آدرس پستی";
}


<partial name="_HeaderPartial" />

<div class='cart_part1'>
    <div class='container'>
        <div class='inner'>
            <div class='top_part'>
                <ul class='step clearfix none_list_style'>
                    <li class='item  checked  '>
                        <a href='' title='' class='link'>
                            <div class='number'>
                                <span>1</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="-90 -1 792 737" style="enable-background:new -90 -1 792 737;" xml:space="preserve">
                                    <path id="dec-post-arrow" d="M702,736c-237.6-26.4-369.6-158.4-396-396C279.6,577.6,147.6,709.6-90,736" />
                                    <path id="dec-post-arrow_1_" d="M-90-1c237.6,26.4,369.6,158.4,396,396C332.4,157.4,464.4,25.4,702-1" />
                                   </svg>
                                </div>
                            </div><!--close .number-->
                            <div class='content'>
                                <span>سبد خرید</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 199 792 396" style="enable-background:new 0 199 792 396;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow_1_"
                                          d="M0,198c237.6,26.4,369.6,158.4,396,396c26.4-237.6,158.4-369.6,396-396" />
                                            </svg>
                                </div>
                            </div><!--close .content-->
                        </a>
                    </li><!--close .item-->
                    <li class='item active'>
                        <a href='' title='' class='link'>
                            <div class='number'>
                                <span>2</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="-90 -1 792 737" style="enable-background:new -90 -1 792 737;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow"
                                          d="M702,736c-237.6-26.4-369.6-158.4-396-396C279.6,577.6,147.6,709.6-90,736" />
                                    <path id="dec-post-arrow_1_"
                                          d="M-90-1c237.6,26.4,369.6,158.4,396,396C332.4,157.4,464.4,25.4,702-1" />
                                            </svg>
                                </div>
                            </div>
                            <div class='content'>
                                <span>اطلاعات پستی گیرنده</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 199 792 396" style="enable-background:new 0 199 792 396;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow_1_"
                                          d="M0,198c237.6,26.4,369.6,158.4,396,396c26.4-237.6,158.4-369.6,396-396" />
                                            </svg>
                                </div>
                            </div>
                        </a>
                    </li><!--close .item-->
                    <li class='item  '>
                        <a href='' title='' class='link'>
                            <div class='number'>
                                <span>3</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="-90 -1 792 737" style="enable-background:new -90 -1 792 737;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow"
                                          d="M702,736c-237.6-26.4-369.6-158.4-396-396C279.6,577.6,147.6,709.6-90,736" />
                                    <path id="dec-post-arrow_1_"
                                          d="M-90-1c237.6,26.4,369.6,158.4,396,396C332.4,157.4,464.4,25.4,702-1" />
                                            </svg>
                                </div>
                            </div>
                            <div class='content'>
                                <span>اطلاعات ارسال سفارش</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 199 792 396" style="enable-background:new 0 199 792 396;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow_1_"
                                          d="M0,198c237.6,26.4,369.6,158.4,396,396c26.4-237.6,158.4-369.6,396-396" />
                                            </svg>
                                </div>
                            </div>
                        </a>
                    </li><!--close .item-->
                    <li class='item  '>
                        <a href='' title='' class='link'>
                            <div class='number'>
                                <span>4</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="-90 -1 792 737" style="enable-background:new -90 -1 792 737;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow"
                                          d="M702,736c-237.6-26.4-369.6-158.4-396-396C279.6,577.6,147.6,709.6-90,736" />
                                    <path id="dec-post-arrow_1_"
                                          d="M-90-1c237.6,26.4,369.6,158.4,396,396C332.4,157.4,464.4,25.4,702-1" />
                                       </svg>
                                </div>
                            </div>
                            <div class='content'>
                                <span>بازبینی سفارش</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 199 792 396" style="enable-background:new 0 199 792 396;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow_1_"
                                          d="M0,198c237.6,26.4,369.6,158.4,396,396c26.4-237.6,158.4-369.6,396-396" />
                                            </svg>
                                </div>
                            </div>
                        </a>
                    </li><!--close .item-->

                </ul><!--close .step-->
            </div><!--close .top_part-->
            <div class='bottom_part'>
                <form asp-action="Send" asp-controller="Cart" method="POST">
                    <div class='addres_select'>
                        <ul class='step none_list_style'>
                            <li class='item">
                                <label for='address9'>
                                    <div class='table1'>
                                        <table>
                                            <tr>
                                                <td rowspan='2' width='70'
                                                    style='border-right:solid 1px #DDD; padding:0;'>
                                                    <label class='check_radio_style1'>
                                                        <input type='radio' name='post' value="9" id='address9'
                                                               checked>
                                                        <span class='icon'></span>
                                                    </label>
                                                </td>
                                                <td colspan='2' width='220'>
                                                    اطلاعات تماس منزل به نام
                                                    <span>@Model.NameFamily</span>
                                                    <span>@Model.NormalizedEmail</span>
                                                </td>
                                                <td colspan='2' width='220'>@Model.City - @Model.Address </td>
                                            </tr>
                                            <tr>
                                                <td>استان @Model.Province</td>
                                                <td>شهر @Model.City</td>
                                                <td>شماره همراه @Model.PhoneNumber</td>
                                                <td>کدپستی @Model.PostalCode</td>
                                            </tr>
                                        </table>
                                    </div><!-- close .table1 -->
                                </label>
                            </li><!-- close .item -->
                        </ul><!-- close .step -->
                    </div><!-- close .addres_select -->
                    <div class='form_style2'>
                    </div><!--close .form_style2-->
                    <div class='cart_btn'>
                        <a asp-action="Index" asp-controller="Profile" title='' class='btn_style1 add_cart'>
                            <i class='i-marker'></i>
                            <span> اصلاح آدرس </span>
                        </a>
                        <button style="border: none;vertical-align: top;cursor: pointer;" type="submit"
                                class='btn_style1 add_cart'>
                            <i class='i-left-open'></i><span>مرحله بعدی</span>
                        </button>
                    </div>
                </form>
            </div><!--close .bottom_part-->
        </div><!--close .inner-->
    </div><!--close .container-->
</div><!--close .cart_part1-->







