@model ShopActionResult<List<UserPageViewModel>>
@inject IRoleService roleservice
 

@{
    
    ViewData["Title"] = "لیست دسترسی ها";
   
}
<style>
    th, td {
        text-align: center;
    }

    .even {
        background-color: white;
    }

    .odd {
        background-color: #ebebeb;
    }
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        مدیریت
        <small>دسترسی</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">مدیریت دسترسی </li>
    </ol>
</section>
<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <a asp-controller="UserPage" asp-action="Create" class="btn btn-info"><i class="fa fa-plus"></i>&nbsp; دسترسی جدید</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div>
                        <div class="row">
                            <div class="col-sm-12">

                                @if (Model.Data.Count() > 0)
                                {<table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">

                                        <thead>
                                            <tr>
                                                <th>
                                                    نقش کاربر
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Data.First().PageNameEn)
                                                </th>

                                                <th>
                                                    @Html.DisplayNameFor(model => model.Data.First().ControllerName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Data.First().PageNameFa)
                                                </th>
                                                <th>عملیات</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Data)
                                            {
                                                <tr>
                                                    <td>
                                                        @{
                                                            var rolename = roleservice.GetById(item.RoleId).Name;

                                                        }
                                                        @rolename
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PageNameEn)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ControllerName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PageNameFa)
                                                    </td>
                                                    <td>
                                                        <a asp-controller="UserPage" asp-action="Edit" asp-route-userpageid="@item.UserPageId" class="btn btn-sm btn-primary"><i class="fa fa-edit" style="color:red; font-size:20px;"></i>&nbsp;ویرایش</a>
                                                        <a asp-controller="UserPage" asp-action="Delete" asp-route-userpageid="@item.UserPageId" class="btn btn-sm btn-danger"><i class="fa fa-trash" style="color:red; font-size:20px;"></i>&nbsp;حذف</a>

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                }
                                else
                                {
                                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                        <thead>
                                            <tr></tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align:center;" class="alert alert-danger">
                                                    <span> تاکنون مدیریت دسترسی  ثبت نشده!!</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                <ul class="pagination">
                                    @for (int i = 1; i <= Model.Pages; i++)
                                    {

                                        if (Model.Page == i)
                                        {



                                            <li class="active">
                                                <a href="/Admin/UserPage/Index?page=@i.ToString()" aria-controls="example2" class="" data-dt-idx="1" tabindex="0">@i.ToString()</a>
                                            </li>




                                        }
                                        else
                                        {


                                            <li>
                                                <a href="/Admin/UserPage/Index?page=@i.ToString()" aria-controls="example2" class="" data-dt-idx="1" tabindex="0">@i.ToString()</a>
                                            </li>



                                        }


                                    }



                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
