@inject IUserService userservice
@inject IProfileIndexService profileindexservice
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Titel"]</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/dist/css/bootstrap-theme.css">
    
    <link rel="stylesheet" href="~/dist/css/rtl.css">

    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/bowercomponents/Ionicons/css/ionicons.min.css">

    <link rel="stylesheet" href="~/jvectormap/jquery-jvectormap.css">

    <link rel="stylesheet" href="~/dist/css/AdminLTE.css">

    <link href="~/dist/css/persian-datepicker-0.4.5.min.css" rel="stylesheet" />

    <script src="~/dist/js/persian-datepicker-0.4.5.min.js"></script>

    <link rel="stylesheet" href="~/dist/css/skins/_all-skins.min.css">

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">

            <a href="index2.html" class="logo">
                <span class="logo-mini">پنل</span>
                <span class="logo-lg"><b>مدیریت سایت</b></span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
              
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">@profileindexservice.GetMessageRecive(User.Identity.Name).Count()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">@profileindexservice.GetMessageRecive(User.Identity.Name).Count()  پیام خوانده نشده</li>
                                <li class="footer"><a href="/Admin/Message/Index">نمایش تمام پیام</a></li>
                            </ul>
                        </li>

                        <li class="dropdown messages-menu">
                            <a href="/Account/Logout" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-sign-out"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="footer"><a href="/Account/Logout">خروج</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-right image">
                        <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-right info">
                        <p>@userservice.GetByUserName(User.Identity.Name).NameFamily</p>
                        <a href="#">
                            <i class="fa fa-circle text-success"></i><span>آنلاین</span>
                        </a>
                    </div>
                </div>


                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">منو</li>
                    <li>
                        <a href="/Admin/Manage/Index">
                            <i class="fa fa-dashboard"></i> <span>داشبورد</span>
                        </a>

                    </li>
                    <li class="active treeview">
                        <a href="#">
                            <i class="fa fa-pie-chart"></i>
                            <span>مدیریت فروشگاه</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Admin/User/Index"><i class="fa fa-circle-o"></i> کاربران</a></li>
                            <li><a href="/Admin/Product/Index"><i class="fa fa-circle-o"></i>محصولات </a></li>
                            <li><a href="/Admin/Article/Index"><i class="fa fa-circle-o"></i>مقالات </a></li>
                            <li><a href="/Admin/Category/Index"><i class="fa fa-circle-o"></i>دسته بندی ها </a></li>
                            <li><a href="/Admin/Color/Index"><i class="fa fa-circle-o"></i>رنگ ها </a></li>
                            <li><a href="/Admin/Comment/Index"><i class="fa fa-circle-o"></i>نظرات </a></li>
                            <li><a href="/Admin/Weight/Index"><i class="fa fa-circle-o"></i>پست محصولات </a></li>
                            <li><a href="/Admin/Message/Index"><i class="fa fa-circle-o"></i>پیام ها </a></li>
                            <li><a href="/Admin/Roles/Index"><i class="fa fa-circle-o"></i>نقش ها</a></li>
                            <li><a href="/Admin/Invoice/Index"><i class="fa fa-circle-o"></i>لیست صورتحساب ها</a></li>
                            <li><a href="/Admin/UserPage/Index"><i class="fa fa-circle-o"></i>مدیریت دسترسی</a></li>

                        </ul>
                    </li>

                </ul>
            </section>

        </aside>

        <div class="content-wrapper" style="min-height: 916.3px;">
            @RenderBody()
        </div>
        <footer class="main-footer text-left">
        </footer>

        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">فعالیت ها</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">تولد غلوم</h4>
                                    <p>20 مرداد</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">آپدیت پروفایل میلاد</h4>
                                    <p>تلفن جدید (800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">نورا به خبرنامه پیوست</h4>
                                    <p>MiladHamedi7474@@gmail.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">کرون جابز اجرا شد</h4>
                                    <p>۵ ثانیه پیش</p>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <h3 class="control-sidebar-heading">پیشرفت کارها</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    ساخت پوستر های تبلیغاتی
                                    <span class="label label-danger pull-left">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    آپدیت رزومه
                                    <span class="label label-success pull-left">95%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    آپدیت لاراول
                                    <span class="label label-warning pull-left">50%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    بخش پشتیبانی سایت
                                    <span class="label label-primary pull-left">68%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="tab-pane" id="control-sidebar-stats-tab">وضعیت</div>
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">تنظیمات عمومی</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                گزارش کنترلر پنل
                                <input type="checkbox" class="pull-left" checked>
                            </label>
                            <p>
                                ثبت تمامی فعالیت های مدیران
                            </p>
                        </div>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                ایمیل مارکتینگ
                                <input type="checkbox" class="pull-left" checked>
                            </label>
                            <p>
                                اجازه به کاربران برای ارسال ایمیل
                            </p>
                        </div>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                در دست تعمیرات
                                <input type="checkbox" class="pull-left" checked>
                            </label>
                            <p>
                                قرار دادن سایت در حالت در دست تعمیرات
                            </p>
                        </div>

                        <h3 class="control-sidebar-heading">تنظیمات گفتگوها</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                آنلاین بودن من را نشان نده
                                <input type="checkbox" class="pull-left" checked>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                اعلان ها
                                <input type="checkbox" class="pull-left">
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                حذف تاریخته گفتگوهای من
                                <a href="javascript:void(0)" class="text-red pull-left"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>

                    </form>
                </div>

            </div>
        </aside>
        <div class="control-sidebar-bg"></div>
    </div>

    <partial name="_ValidationScriptsPartial">
        @RenderSection("Scripts", required: false)

       
        <script src="~/bowercomponents/jquery/dist/jquery.min.js"></script>

        <script src="~/bowercomponents/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="~/bowercomponents/fastclick/lib/fastclick.js"></script>

        <script src="~/dist/js/adminlte.min.js"></script>

        <script src="~/bowercomponents/jquery-sparkline/dist/jquery.sparkline.min.js"></script>

        <script src="~/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>

        <script src="~/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

        <script src="~/bowercomponents/jquery-slimscroll/jquery.slimscroll.min.js"></script>

        <script src="~/bowercomponents/Chart.js/Chart.js"></script>

        <script src="~/dist/js/pages/dashboard2.js"></script>

        <script src="~/dist/js/demo.js"></script>

</body>
</html>

