@inject IProfileIndexService profileindexservice
<div class="row">
    <div class="col-md-6">

        <div class="box box-warning direct-chat direct-chat-warning">
            <div class="box-header with-border">
                <h3 class="box-title">آخرین محصولات</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>

            <div class="box-body">
                <ul class="products-list product-list-in-box">

                    @{
                        foreach (var item in profileindexservice.GetLastProduct())
                        {

                            <li class="item">
                                <div class="product-img">
                                    @foreach (var g in item.Galleries.Where(a => a.ProductId == item.ProductId).ToList())
                                    {
                                        @if (g.Default == true)
                                        {
                                            <img src="~/uploads/Products/@g.PictureName" alt="@item.Titel" />
                                        }
                                    }
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        @item.Titel
                                        @if (item.DiscuntPercent == 0)
                                        {
                                            <span class="label label-warning pull-left" style="margin: 5px 0px 0px 10px;">@item.Price &nbsp; &nbsp; تومان</span>
                                        }
                                        else
                                        {
                                            <span class="label label-warning pull-left" style="margin: 5px 0px 0px 10px;">@item.DiscuntedPrice &nbsp; &nbsp; تومان</span>
                                        }

                                    </a>
                                    <span class="product-description">
                                        @item.Description
                                    </span>
                                </div>
                            </li>


                        }
                    }
                </ul>
            </div>

            <div class="box-footer text-center">
                <a asp-controller="Product" asp-action="Index" class="uppercase">نمایش همه محصولات</a>
            </div>

        </div>

    </div>

    <div class="col-md-6">

        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">آخرین کاربران</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>

            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    @foreach (var item in profileindexservice.GetLastUser())
                    {
                        <li>
                            <img src="~/dist/img/user1-128x128.jpg" alt="User Image">
                            <a class="users-list-name" href="#">@item.NameFamily</a>
                            <span class="users-list-date">@item.City</span>
                        </li>
                    }
                </ul>

            </div>

            <div class="box-footer text-center">
                <a asp-controller="User" asp-action="Index" class="uppercase">نمایش همه کاربران</a>
            </div>

        </div>

    </div>

</div>