@inject ICategoryService  categoryservice
@{
    var listCat = categoryservice.GetAll();
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
    <meta name="description" content="" />


    <link rel="stylesheet" href="~/dist/css/bootstrap-theme.css">
    <link rel="shortcut icon" href="~/assets/front/favicon.ico?ver=0.1" type="image/x-icon">
    <link rel="icon" href="~/assets/front/favicon.ico?ver=0.1" type="image/x-icon">
    <link rel='stylesheet' type='text/css' href="~/assets/front/_css/fonts/kiket/styles.css">
    <link rel='stylesheet' type='text/css' href="~/assets/front/_css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/front/_css/master.css">
    <link rel="stylesheet" type="text/css" href="~/assets/front/_css/media.css">

    <script src="~/assets/front/_js/jquery-1.11.1.min.js"></script>
</head>
<body>


    @RenderBody()


    <footer class='footer_style1'>
        <div class='alarm_style2'>
        </div>
        <div class='container'>
            <div class='inner clearfix'>
                <div class='right_part'>
                    <a href='' title='' class='logo'></a>
                    <div class='title'>فروشگاه لوازم آشپزخانه کی کِت</div>
                    <p class='text'></p><!--close .text-->
                    <div class='atlasweb'>
                        <span class='atlas_logo'></span>
                        <a href='#' target='_blank' title='طراحی سایت'> </a>
                        <a href='#' title='بهینه سازی سایت'
                           target='_blank'></a>
                    </div>
                </div><!--close .right_part-->
                <div class='left_part'>
                    <div class='footer_part1'>
                        <ul class='step clearfix none_list_style'>
                            <li class='item'>
                                <span class='icon'><i class='i-like'></i></span>
                                <span class='content'>دارای نماد الکترونیک</span>
                            </li>
                            <li class='item'>
                                <span class='icon'><i class='i-brand'></i></span>
                                <span class='content'>ضمانت اصل بودن کالا</span>
                            </li>
                            <li class='item'>
                                <span class='icon'><i class='i-label'></i></span>
                                <span class='content'>ضمانت قیمت کالا</span>
                            </li>


                            <li class='item'>
                                <a href='/login' title='' class='link'>
                                    <span class='icon'><i class='i-setting-search'></i></span>
                                    <span class='content'>پیگیری خرید</span>
                                </a>

                            </li>
                        </ul>
                    </div><!--close .footer_part1-->
                    <div class='footer_part2'>
                        <ul class='step clearfix none_list_style'>
                            <li class='item clearfix'>
                                <span class='icon'><i class='i-telephone'></i></span>
                                <div class='content'>
                                    <span>09358022968</span>
                                </div>
                            </li>
                            <li class='item clearfix'>
                                <span class='icon'><i class='i-mail'></i></span>
                                <div class='content'>
                                    <span>miladhamedi7474@@gmail.com</span>
                                </div>
                            </li>
                        </ul>
                    </div><!--close .footer_part2-->
                    <div class='footer_part3'>
                        <ul class='step clearfix none_list_style'>
                            @foreach (var item in listCat.Data)
                            {
                                <li class='item'>
                                    <a asp-controller="Product" asp-action="ProductByCategory" asp-route-catgoryid="@item.CategoryId"
                                       class='link'>@item.Titel</a>
                                </li>

                            }

                        </ul>
                    </div><!--close .footer_part3-->
                    <div class='footer_part4 clearfix'>
                        <div class='news_letter'>
                            <form action="/share/newsletter" method="POST">
                                <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
                                <input name="email" type='text' placeholder=':: email'>
                                <button type="submit">عضویت در خبرنامه</button>
                            </form>
                        </div>
                        <div class='media_link'>
                            <ul class='step none_list_style'>
                                <li class='item'>
                                    <a href='http://instagram.com/' target="_blank" title='' class='link'><i class='i-instagram'></i></a>
                                </li>
                                <li class='item'>
                                    <a href='http://t.me/@@WiseSup' target="_blank" title='' class='link'><i class='i-telegram'></i></a>
                                </li>
                            </ul>
                        </div>
                    </div><!--close .footer_part4-->
                    <div class='footer_part5'>
                        <ul class='step clearfix none_list_style'>
                           
                        </ul>
                    </div><!--close .footer_part5-->
                </div><!--close .left_part-->
            </div><!--close .inner-->
        </div><!--close .container-->


        <div class='goto_top gotop'><i class='i-up-open'></i></div>
    </footer><!--close footer-->

    @RenderSection("Scripts", required: false)
    <partial name="_ValidationScriptsPartial">
        @*<img src='http://gowebsite.ir/_images/under_label.png?ver=0.1' class='under_label' style='position:fixed; top:220px; right:0px; width:200px; z-index:10000;'>*@

        <!--all script in site-->
        <script src="~/bowercomponents/bootstrap/dist/js/bootstrap.min.js"></script>


        <script src='~/assets/front/_js/jquery-ui-effect.min.js'></script>
        <script src='~/assets/front/_js/html5shiv.min.js'></script>

        <!--form validate-->
        <script src='~/assets/front/_js/jquery.validate.min.js'></script>
        <script src='~/assets/front/_js/additional-methods.min.js'></script>
        <script src='~/assets/front/_js/all_form_validate.js?ver=0.6'></script>

        <!--toast-->
        <link href='~/assets/front/_plugins/toast/jquery.toast.css' rel='stylesheet' type='text/css'>
        <script src='~/assets/front/_plugins/toast/jquery.toast.min.js'></script>

        <!--ajax form-->
        <script src='~/assets/front/_js/jQuery.form.js'></script>

        <!--ellipsis-->
        <script src='~/assets/front/_plugins/ellipsis/jquery.dotdotdot.min.js'></script>

        <!--autosize-->
        <script src='~/assets/front/_plugins/autosize/jquery.autosize.min.js'></script>

        <!--scripts-->
        <script src='~/assets/front/_js/functions.js?ver=0.1'></script>
        <script src='~/assets/front/_js/master.js?ver=0.1'></script>


        <!--bxslider-->
        <script src='~/assets/front/_plugins/bxslider/jquery.bxslider.min.js'></script>
        <link href='~/assets/front/_plugins/bxslider/jquery.bxslider.css' type='text/css' rel='stylesheet'>

        <!--ms_scroll-->
        <link rel='stylesheet' type='text/css'
              href='~/assets/front/_plugins/ms_scroll/jquery.mCustomScrollbar.css'>
        <script src='~/assets/front/_plugins/ms_scroll/jquery.mCustomScrollbar.concat.min.js'></script>

        <!--owl_carosel-->
        <link rel='stylesheet' href='~/assets/front/_plugins/owlcarousel/owl.carousel.min.css'>
        <script src='~/assets/front/_plugins/owlcarousel/owl.carousel.min.js'></script>

        <!--nice select-->
        <script src="~/assets/front/_plugins/nice_select/js/jquery.nice-select.min.js"></script>
        <link rel="stylesheet" type="text/css" href="~/assets/front/_plugins/nice_select/css/nice_select.css">

        <script src="~/assets/front/_plugins/drift-master/dist/Drift.js"></script>
        <link href="~/assets/front/_plugins/drift-master/dist/drift-basic.css" rel="stylesheet" />




</body>
</html>